<!DOCTYPE html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/signintwo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/homepage.css' %}">
    <title>subrebbit</title>
</head>
<body class = "news">
  <header>
    <div class="nav">
      <ul>
        {% if request.session.user_username %}
        <li class="logout"><a href="/index">Home</a></li>
        <li class="logout"><a href="/logout">Log Out</a></li>
        <li class="createpost"><a href="/createpost">Post</a></li>
        <li class="createpost"><a href="/createsub">Create Topic</a></li>
        <li class="logout"><a href="/account">Account</a></li>
        <li class="aboutus"><a href="/about">About Us</a></li>
        {% else %}
        <li class="logout"><a href="/index">Home</a></li>
        <li class="signin"><a href="/signin">Sign In</a></li>
        <li class="createpost"><a href="/createpost">Post</a></li>
        <li class="aboutus"><a href="/about">About Us</a></li>
        {% endif %}
      </ul>
    </div>
  </header>
  <div class="postview">
  <div class="group">
        <center><h1><u>The Rebbit Team</u></h1><span class="highlight"></span><span class="bar"></span>
  </center></div>
      <h3>We are hardworking TSL interns that strive to impress our boss David Hartmann. At times this
      proves to be difficult but we keep our heads up high and just keep trying. This site in particular was
      developed by Matthew Galvis and myself(Marvin Andara). Hopefully you can enjoy the site and add
      some productive content onto it. See you around!</h3>
 </div>
</body>
</html>






