<!DOCTYPE html>

<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/signintwo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/homepage.css' %}">
    <title>subrebbit</title>
</head>
<body class = "news">
  <header>
    <div class="nav">
      <ul class="ul2">
        {% if request.session.user_username %}
        <li class="logout"><a href="/index">Home</a></li>
        <li class="logout"><a href="/logout">Log Out</a></li>
        <li class="createpost"><a href="/createpost">Post</a></li>
        <li class="createpost"><a href="/createsub">Create Topic</a></li>
        <li class="logout"><a href="/account">Account</a></li>
        <li class="aboutus"><a href="/about">About Us</a></li>
        {% else %}
        <li class="logout"><a href="/index">Home</a></li>
        <li class="signin"><a href="/signin">Sign In</a></li>
        <li class="createpost"><a href="/createpost">Post</a></li>
        <li class="aboutus"><a href="/about">About Us</a></li>
        {% endif %}
      </ul>
    </div>
  </header>
{% if not request.session.user_username %}
  <div class="form2"><div class="group">
  <h1>You are not signed in. Please sign in to post content.</h1>
      <button onclick="window.location.href='/signin'" type="button" class="button buttonBlue">Sign In
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button></div></div>
{% else %}
<form action="/auth_sub/" method="POST">{% csrf_token %}
    {% if invalid %}
    <h3>Topic already exist</h3>
    {% endif %}
  <div class="group">
    <input type="text" name="subname" required><span class="highlight"></span><span class="bar"></span>
    <label>Topic Name</label>
      </div>
      <button type="submit" onclick="review.save(); return false;" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
{% endif %}
</body>
</html>